<section class='footer'>
 
 <div>

    <div >
      <center>
        
        <div style="padding:20px 20px;" class="col-lg-4">

	          <div >
	                 <span class="footspan"> <a href="#" class="fa fa-facebook fas"></a> </span>
					 <span class="footspan"> <a href="#" class="fa fa-twitter fas"></a> </span>
					 <span class="footspan"> <a href="#" class="fa fa-google fas"></a> </span>
					 <span class="footspan"> <a href="#" class="fa fa-linkedin fas"></a> </span>
	          </div>
	          <hr color="white">


	          <div class="cont"> 
	              <span  class="footspan two">home</span> 
	              <span class="footspan two">contact</span> 
	             <a href="/admin/adminlogin">Admin</a>
              </div>

         </div> 
      </center>
    </div>

 </div>

</section>

<section style="background-color:lightgreen">
  
 <center>
	  <div style="padding:10px 20px;font-weight:bold;">
	     This is not the official site it is just for demo purpose
	  </div>
</center>	  
  
</section>