

<%- include("layout") -%>

<div class="row">
   <div class="col-lg-4">
      <ul class="list-group">
          <li class="list-group-items">
              <span class="badge badge-secondary"></span>
              <strong></strong>
              <span class="label label-success"></span>
              <div class="btn-group">
                 <button class="btn btn-danger dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action list <span class="caret"></span></button>
                 <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="#" class="dropdown-item">Remove By 1</a></li>
                    <li><a href="#">Remove By All</a></li>
                 </ul>
              </div>
          </li>
          <li class="list-group-items"></li> 
      </ul>
   </div>
</div>



<div class="row">
   <div class="col-lg-4">
      <ul class="list-group">
          <li class="list-group-items">
              <span class="badge badge-secondary"></span>
              <strong></strong>
              <span class="label label-success"></span>
              <div class="btn-group">
                 <button class="btn btn-primary dropdown-toggle" type="button">Action <span class="caret"></span></button>
                 <ul class="dropdown-menu">
                    <li><a href="#">Remove By 1</a></li>
                    <li><a href="#">Remove By All</a></li>
                 </ul>
              </div>
          </li>
          <li class="list-group-items"></li> 
      </ul>
   </div>
</div>




<div class="row">
   <div class="col-lg-4">
      <strong>Total: </strong>
   </div>
</div>

<hr>
<div class="row">
   <div class="col-lg-4">
     <button class="btn btn-success" type="button">CheckOut</button>
   </div>
</div>


<div class="row">
   <div class="col-lg-4">
      <h2>No Items in Cart</h2>
   </div>
</div>